/*바디 전체 영역의 글꼴*/

@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

.body__container {
  font-family: "Noto Sans KR", "Roboto" !important;
  font-size: 17px;
  font-weight: 300;
  color: rgb(32, 32, 32);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.d-none {
  display: none;
}

/*--------------SECTION & INNER-------------------*/

.section {
  position: relative;
}
.section .inner {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

/*---------------------입력양식----------------------*/
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  font-size: 16px;
}

.input--text:focus {
  border-color: rgb(160, 231, 222);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}

#search-form {
  margin-right: 17px;
}
#search {
  width: 203px;
  font-size: 14px;
}

#search + [type="submit"] {
  display: none;
}

/* --버튼---------------------------------- */
.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee 100%);
  border: 0.5px solid #d5d5d5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  color: #494949;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  border: 0.5px solid rgba(112, 112, 112, 0.35);
  color: #fff;
  background: linear-gradient(
    to bottom,
    rgba(43, 152, 186, 0.93),
    rgba(43, 152, 186, 0.86)
  );
}

.btn.btn-search {
  border: 1px solid #dfb857;
  color: #fff;
  background: #ffd46a linear-gradient(#fcd675, #dbb554);
}
