/* Header */
.header {
    background: #fff;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);

    position: sticky;
    top: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
}

#search-form {
    display: none;
}

.my-page,
.header-signup {
    background: #3ca0bf ;
    margin-left: 10px;
    color: #fff;
}

.on-box {
    display: flex;
    align-items: center;
}

.out-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.member-btn {
    background: url("../img/detail/person.png") no-repeat center center;
    background-size: cover;
    width: 34px;
    height: 34px;
    position: relative;
}
.drop-list {
    display: none;
    position: absolute;
}

.menu {
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.logo {
    align-items: center;
    margin-right: auto;
}
.logo-txt {
    font-size: 30px;
}

.icon {
    width: 100px;
    height: 64px;
    background-image: url("../img/detail/logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.user-menu .user-item {
    display: none;
}

.out-box {
    height: 100%;
}

.drop-menu {
    background-image: url("../img/detail/person.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 72px;
    height: 72px;
    margin-left: auto;
}



.drop-menu:hover .drop-list{
    display: block;
}

.drop-list {
    display: none;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    width: 150px;
    background: white;
    top: 72px;
    position: absolute;
}

.drop-item {
    margin: 20px;
}

@media screen and (min-width: 800px){

    /* Header */
    .header {

        align-self: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .on-box {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .out-box {
        margin-left: 10px;
    }

    .user-menu .user-item {
        display: block;
    }


    #search-form {
        display: block;
    }

    .icon {
        width: 130px;
    }

    .user-item a {
        line-height: 34px;
    }

    .user-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .user-btn {
        width: 50px;
        height: 50px;
    }
}