.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: black;
    height: 50px;
}
html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: auto;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

/* Header */

.container {
    width: 100%;
    height: 100%;
}

.header {
    background: white;
}

.menu {
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.logo {
    align-items: center;
    margin-right: auto;
}
.logo-txt {
    font-size: 30px;
}

.icon {
    width: 100px;
    height: 64px;
    background-image: url("../img/detail/logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.drop-menu {
    background-image: url("../img/detail/person.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 72px;
    height: 72px;
}

.user-menu {
    display: none;
}

.drop-menu:hover .drop-list{
    display: block;
}

.drop-list {
    display: none;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    width: 150px;
    background: white;
    top: 72px;
    position: absolute;
}

.drop-item {
    margin: 20px;
}

/* Jumbotron */

.jumbotron{

    height: 200px;
    background-image: url("../img/detail/483.png");
    background-repeat: no-repeat;
    background-size: 500px 200px;
}


/* Main */

.main {
    padding: 1rem;
}

.exam-info {
    margin-top: 30px;
    margin-bottom: 50px;
}

.exam-info-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
}

.info-btn {
    border-radius: 4px;
    border: solid 0.5px rgba(112, 112, 112, 0.35);
    padding-right: 20px;
    background: url("../img/detail/write.png") no-repeat right;
    background-color: lightgray;
    background-size: 20px 20px;
}


.prev-btn,
.after-btn {
    width: 5%;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
}


.prev-btn {
    width: 20px;
    height: 20px;
    background: url("../img/detail/arrow.png") no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}

.after-btn {
    width: 20px;
    height: 20px;
    background: url("../img/detail/arrow.png") no-repeat;
    background-size: cover;
}


.exam-info-main {
    display: flex;
    align-items: center;
    overflow: no-content;
}

.exam-info-item {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 90%;
}

.exam-card {
    min-width: 190px;
    width: 50%;
    height: 80px;
    margin: 0 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 212, 106, 0.55);
    transition: 1s;
}

.exam-name {
    font-weight: bold;
    text-align: center;
}

.exam-term-remain {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 0.9rem;
}

.exam-term {
    font-size: 0.7rem;
}

/* Study list */

.study-list {
    margin: 20px 0;
}


.study-list-header .arrow {
    width: 14px;
    height: 14px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transform: rotate(-225deg);
}

.study-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px;
}
.study-list-header {
    display: flex;
    align-items: center;
}

.study-list-desc {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}


.study-list-item {
    display: flex;
    align-items: center;
}

.study-list-container {
    display: flex;
}

/* Card */

.mini-card {
    margin: 0 7px;
}

.mini-card-img {
    width: 120px;
    height:  70px;
    background: url("../img/detail/evan-banner.png") no-repeat;
    background-size: cover;
}

.mini-card-title {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.mini-card-info {
    font-size: 0.7rem;
    display: flex;
}

.mini-card-population {
    background-color: rgba(255, 238, 169, 0.86);
    padding: 4px;
    border-radius: 5px;
}
.mini-card-kind {
    margin-left: 5px;
    background-color: #bfe8d2;
    padding: 4px;
    border-radius: 5px;
}
.mini-card-container {
    width: 100%;
}

/* Footer */



@media screen and (min-width: 501px) {
    .exam-info-main {
        display: flex;
        width: 100%;
    }


}
