/*BUTTON & FONT ----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;700&display=swap");

/* .button {
  display: inline-block;
  text-indent: -999px;
  overflow: hidden;
} */

.button {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee 100%);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  color: #494949;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.button.btn-create {
  border: 1px solid #dfb857;
  color: #fff;
  background: #ffd46a linear-gradient(#fcd675, #dbb554);
}

/*LAYOUT---------------------------------------*/

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 155px 1fr 1fr 155px;
  grid-template-rows: 113px 100px 197px 1fr 100px;
  grid-template-areas:
    ". header header ."
    ". visual visual ."
    ". category category ."
    ". body body ."
    "footer footer footer footer";
}

/*GRID--------------------------------------------*/
#visual {
  grid-area: visual;
  border-top: 0.3px solid rgb(131, 177, 219);
  background: #33a6c9;
}

#visual {
  display: flex;
  align-items: center;
  justify-items: center;
}

#visual .float-content > p {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

#category {
  grid-area: category;
  --background: #7bc748;
}

#body {
  grid-area: body;
  background: #3d80be;
}

/*---------------------------------------------*/

/*---------------------------------------------*/

.logo {
  display: inline-block;
  margin-left: 150px;
}

.search-form {
  width: 450px;
  height: auto;
  border: 2px solid #979993;
  display: inline-block;
  position: absolute;
  top: 38px;
  left: 400px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.category-menu {
  display: inline-block;
  position: relative;
  top: 100px;
  left: 340px;
}

.search-form fieldset {
  display: flex;
}

.search-form label {
  background: url("../img/Search.png") no-repeat center;
}

.search-form fieldset input[type="text"] {
  margin-left: 3px;
  margin-right: 2px;
  flex-grow: 1;
  border: 0;
  padding: 5px;
  font-size: 9px;
  font-weight: bold;
}

.search-form fieldset input[type="submit"] {
  width: 31px;
  height: 25px;
  border: 0px;
  border-left: 1px solid #703c3c;
  background: url("../img/Search.png") no-repeat center;
}

.search-form fieldset label {
  display: flex;
  font-family: "Noto Sans KR";
  font-size: 11px;
  font-weight: bold;

  flex-basis: 44px;
  align-items: center;
  justify-items: center;
}

.member-menu {
  display: inline-block;
  position: absolute;
  top: 47px;
  right: 0;
  font-family: "Noto Sans KR";
  font-weight: bold;
}
.member-menu ul {
  display: flex;
  margin-right: 170px;
}

.member-menu ul > li {
  padding-left: 60px;
}

.member-menu ul > li:nth-child(3) {
  background: url("../img/person.png") no-repeat center;
  background-size: contain;
}

.search-category {
  width: 300px;
  height: auto;
  display: inline-block;
  position: absolute;
}

.search-category fieldset input[type="text"] {
  margin-left: 3px;
  margin-right: 2px;
  flex-grow: 1;
  border: 0;
  padding: 5px;
  font-size: 9px;
  font-weight: bold;
}

#category {
  display: inline-block;
}

.search-form {
  display: inline-block;
}
.category {
  display: flex;
  align-items: center;
}

.category ul {
  display: flex;
}

.category-menu li {
  margin: 4.3px;
}
