.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 72px 150px 1fr 100px;
}
.header{
    position: sticky;
    top: 0;
}

.aside{
    display: none;
}
.container > *{
    grid-column: 1 / span 12;
}
