/* style - My Page - Friends */
    /* Content-form */
    .content-form-box{

    }
        .content-form{

        }
            .input-friend{
                height: 35px;
                width: 210px;

                padding-left: 24px;

                margin: 15px 0 0 20px;

                outline: none;

                color: #a1a1a1;

                border-radius: 6px;
                border: solid 1px #707070;
                background-color: #ffffff;
            }
            .button-search{
                width: 30px;
                height: 30px;
                background: url("../../img/icon-search.png") no-repeat center;
                background-size: contain;

                margin-right: 12px;
            }
    /* Content-form */
    /* Content-list Box*/
    .content-list-box{
        width: initial;
        margin: 30px;
        flex-grow: 1;
    }
        .content-list-box > div:first-child{
            display: flex;
            justify-content: space-between;
        }
            .content-list-title{
                font-size: 15px;
                font-weight: bold;
                line-height: 1.05;
                color: #2a2929;
            }
            .friend-modify{
                width: 55px;
                height: 25px;
                font-size: 15px;
                line-height: 12px;
                text-align: center;
                color: #727171;

                border: none;
            }
        /* Content List (Frineds) */
        .content-list{
            height: 530px; /* 중요 */
            width: 100%;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            align-content: flex-start; /* 화면 늘어나도 gap 유지 ==> 정렬 주기 */
            
            overflow-x: scroll;
            overflow-y: hidden;
            gap: 30px;

            margin-top: 20px;
        }
        .friend-profile-box{
            flex-grow: 0;
        }
            .friend-profile-box div{
                width: 150px;
            }
                .friend-profile-main{
                    background-color: #aaaaaa;
                    height: 180px;

                    padding-top: 45px;
                    position: relative;
                }
                    /* 친구 삭제 버튼 */
                    .delete-friend{
                        position: absolute;
                        top: 9px;
                        right: 9px;
                        
                        height: 23px;
                        width: 23px;

                        background: url("../../img/icon-X.png") no-repeat;
                    }
                    /* 친구 삭제 버튼 */
                    .friend-icon{
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;

                        margin: 0 auto 0 auto;

                        display: block;
                    }
                    .friend-name{
                        padding: 30px 0 0 10px;
                        font-size: 20px;
                        font-weight: bold;
                        color: #606060;
                    }

                .friend-profile-sub{
                    height: 45px;

                    border: solid 1px #95989a;
                }
                    .friend-status{
                        padding: 17px 15px 9px 14px;

                        font-family: Arial;
                        font-size: 14px;
                        color: #aaaaaa;

                        overflow: hidden;
                    }
        /* Content List (Frineds) */
    /* Content-list Box */
/* Content Box */
/* style - My Page - Friends */

/* media Query (PC ver.)*/
@media screen and (min-width: 800px){

        /* Content List Box */
        .content-list-box{

        }
            /* Content List Title */
            .content-list-title{
                font-size: 20px;
            }
            .friend-modify{
                width: 60px;
                height: 25px;

                font-size: 18px;
            }
            /* Content List Title */
            /* Content List */
            .content-list{

            }
            /* Content List */
    /* Content-Box */
}
/* media Query (PC ver.) */